body {
    background: url("background1.jpeg") no-repeat center 0px;
    background-position: center 0;
    background-size: cover;
}

#search {
    outline: 0;
    border: none;
    border: 1px solid rgb(224, 15, 15);
    overflow: hidden;
    perspective: 1;
    border-radius: 20px;
    padding: 10px;
    margin-top: 50px;
}

#search:focus {
    outline: 0;
}

#search:hover {
    box-shadow: 0 0 3px 1px rgb(224, 15, 15);
}

input[type=submit] {
    /* background-color: antiquewhite; */
    border: none;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input[type=submit]:hover {
    box-shadow: 0 0 1px 1px rgb(224, 15, 15);
}

input[type=submit]:focus {
    box-shadow: 0 0 1px 1px rgb(0, 119, 255);
}

.no-border {
    border: 0px solid black;
}

#d4 {
    position: relative;
    top: 290px;
    text-align: center;
    color: cornflowerblue;
}

#d4 a {
    font-family: "微软雅黑";
    color: cornflowerblue;
    font-size: 4px;
}

#d4 ul {
    list-style: none;
}

#d4 li {
    float: left;
    margin-left: 15px;
}